*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.menuActive{
  div{
    &:nth-child(1){
      transform: translateY(10px) rotate(-45deg) ;
    }
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      transform: translateY(-15px) rotate(45deg) ;
    }
  }
}
ul.menuActive{
  display: block;
  clip-path: circle(113.1% at 93% 3%) !important;
}

