.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Nanum Gothic', sans-serif;
}
.image{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: -3;
  transition: opacity 1s ease-in ;
}

.banter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 1rem;
    font-weight: 700;
  }
  h1{
    font-size: 3rem;
    font-weight: 800;
  }
  button{
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 5%;
    &:hover{
      background-color: orange;
      transition: background-color 1s linear;
    }
  }
}
.country{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  .carousel{
    margin-top: 1rem;
    padding-top: 60%;
    width: 45%;
    background-color: aqua;
  }
}

@media screen and (min-width: 500px) {
  .country{
    .carousel{
      width: 23%;
      padding-top:32%;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main{
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .banter{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    h1{
      font-size: 5.5rem;
    }
    h2{
      font-size: 3.5rem;
    }
  }
  .country{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    .carousel{
      width: 100%;
      padding-top: 50%;
    }
  }
}
@media only screen and (min-width: 1536px) {
  .main{
    grid-template-columns: 1.7fr 1fr;
  }
  .banter{
    h1{
      font-size: 7rem;
    }
    h2{
      font-size: 5rem;
    }
  }
  .country{
    .carousel{
      width: 100%;
      padding-top: 42%;
    }
  }
}