.main{
  background-image: url('https://images.unsplash.com/photo-1470470558828-e00ad9dbbc13?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyNTIyODN8MHwxfHNlYXJjaHwxNHx8UGFyaXN8ZW58MHx8fHwxNjQ2NzE0MzA0&ixlib=rb-1.2.1&q=85') ;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Nanum Gothic', sans-serif;
}
.banter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  h2{
    font-size: 1rem;
    font-weight: 700;
  }
  h1{
    font-size: 3rem;
    font-weight: 800;
  }
  button{

    margin-top: 1rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 5%;
    &:hover{
      background-color: orange;
      transition: background-color 1s linear;
    }
  }
}
.country{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    color: azure;
  }
  .carousel{
    margin-top: 1rem;
    padding-top: 60%;
    width: 45%;
    background-color: aqua;
  }
}

@media screen and (min-width: 500px) {
  .country{
   
    .carousel{
      width: 23%;
      padding-top:32%;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main{
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr 2fr;
  }
  .banter{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    h1{
      font-size: 5.5rem;
    }
    h2{
      font-size: 3.5rem;
    }
  }
  .country{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 3.5rem;
    }
    .carousel{
      width: 35%;
      padding-top: 50%;
    }
  }
}
@media only screen and (min-width: 1536px) {
  .banter{
    h1{
      font-size: 7rem;
    }
    h2{
      font-size: 5rem;
    }
  }
  .country{
    .carousel{
      width: 32%;
      padding-top: 42%;
    }
  }
}