.main{
  background-image: url('https://images.unsplash.com/photo-1470470558828-e00ad9dbbc13?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyNTIyODN8MHwxfHNlYXJjaHwxNHx8UGFyaXN8ZW58MHx8fHwxNjQ2NzE0MzA0&ixlib=rb-1.2.1&q=85') ;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.banter{
  margin-top: 2rem;
  button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 10%;
    &:hover{
      background-color: orange;
      transition: background-color 1s linear;
    }
  }
}
.country{
  display: flex;
  flex-direction: column;
  align-items: center;
  .carousel{
    margin-top: 1rem;
    padding-top: 60%;
    width: 50%;
    background-color: aqua;
  }
}

@media screen and (min-width: 500px) {
  .country{
    .carousel{
      width: 40%;
      padding-top: 50%;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main{
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr 2fr;
  }
  .banter{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .country{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .carousel{
      width: 40%;
      padding-top: 50%;
    }
  }
}
@media only screen and (min-width: 1536px) {
  .country{
    .carousel{
      width: 30%;
      padding-top: 42%;
    }
  }
}